body {
	color:gray;
	font-family:Arial, Helvetica, sans-serif;
}

header > div {
    display:inline-block; 
}

header > div > nav > ul > li > a {
    padding-left: 20px;
    color:gray;
}

header > div > nav > ul > li {
    display: inline-block;
}

body > section {
	background-color:black;
}

body > section > div {
    display:inline-block; 
}

h2 {
	color:white;
}

h5 {
	color:white;
}

body > article {
	background-color:black;
}

body > article > div {
	display:inline-block;
}

body > article > div > div {
	width:70%;
}

.table_img {
	height:50px;
	width:50px;
}

body > article > div > table {
	float:right;
	width:25%;
}

caption {
	text-align:left;
	color:white;
}

img {
	height:100px;
	width:100px;
}

table {
	width:100%;
}