body {
	color:#404040;
	font-family:Arial, Helvetica, sans-serif;
}

header > div {
    display:inline-block;
    font-weight:bolder;
    color:#404040;
}

header > div > nav > ul > li > a {
    padding-left: 20px;
    color:#404040;
    text-decoration:none;
}

header > div > nav > ul > li {
    display: inline-block;
}

body > section {
	background-color:#010101;
}

body > section > div {
    display:inline-block;
    float:left;
    padding:10px;
}

body > section :last-child {
    float:right;
    margin-top:3%;
}

h2 {
	color:#D1D1D1;
}

h5 {
	color:#D1D1D1;
}

body > article {
	background-color:#010101;
}

body > article > div {
	display:inline-block;
}

body > article > div > div {
	width:65%;
}

tr.hr_table td {
	border-bottom-style:solid;
	border-bottom-color:#151515;
}

hr {
	color:#151515;
	background-color:#010101;
}

.table_img {
	height:40px;
	width:40px;
}

body > article > div > table {
	float:right;
	width:18%;
	text-align:center;
}

caption {
	text-align:left;
	color:#D1D1D1;
}

img {
	height:100px;
	width:100px;
}

table {
	width:100%;
	border-spacing:0px;
}

.icon_img {
	height:50px;
	width:50px;
}

.o_img {
	height:20px;
	width:20px;
}

.indent_td {
	width:3%;
}













#divMenu, ul, li, li li {
    margin: 0;
    padding: 0;
}
 
#divMenu {
    width: 50px;
}
 
#divMenu li {
    list-style: none;
    position: relative;
}

#divMenu li li {
    list-style: none;
}


#divMenu ul li a {
    width: 180px;
    height: 25px;
    display: block;
    text-decoration: none;
    color:#010101;
}

#divMenu ul ul {
    position: absolute;
    visibility: hidden;
}

#divMenu ul li:hover ul {
    visibility: visible;
    background-color:#D1D1D1;
    left: 148px;
    top: 0;
    
    border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border: 2px solid #D1D1D1;
}

#divMenu ul li:hover ul li a:hover {
    background-color:#0069D9;
}

#divMenu ul li:hover ul li img {
	float:left;
	padding:5px;
	top:-5px;
}

#divMenu li a:after {
	content:'\25B6';
	float:right;
}

#divMenu ul li a:after {
	content:'\a0\a0\a0\25BC' no-repeat 50%;
}

#divMenu li a:only-child:after {
	content:'';
}