body {
	color:#404040;
	font-family:Arial, Helvetica, sans-serif;
}

header > div {
    display:inline-block;
    font-weight:bolder;
    color:#404040;
}

header > div > nav > ul > li > a {
    padding-left: 20px;
    color:#404040;
    text-decoration:none;
}

header > div > nav > ul > li {
    display: inline-block;
}

body > section {
	background-color:#010101;
}

body > section > div {
    display:inline-block;
    float:left;
    padding:10px;
}

body > section :last-child {
    float:right;
    margin-top:3%;
}

h2 {
	color:#D1D1D1;
}

h5 {
	color:#D1D1D1;
}

body > article {
	background-color:#010101;
}

body > article > div {
	display:inline-block;
}

body > article > div > div {
	width:65%;
}

tr.hr_table td {
	border-bottom-style:solid;
	border-bottom-color:#151515;
}

hr {
	color:#151515;
	background-color:#010101;
}

.table_img {
	height:40px;
	width:40px;
}

body > article > div > table {
	float:right;
	width:18%;
	text-align:center;
}

caption {
	text-align:left;
	color:#D1D1D1;
}

img {
	height:100px;
	width:100px;
}

table {
	width:100%;
	border-spacing:0px;
}

.icon_img {
	height:50px;
	width:50px;
}

.indent_td {
	width:3%;
}

















/* We remove the margin, padding, and list style of UL and LI components */
#menuwrapper ul, #menuwrapper ul li{
    margin:0;
    padding:0;
    list-style:none;
}

/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li{
	width:150px;
    cursor:pointer;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover{
    position:relative;
}

/* We apply the link style */
#menuwrapper ul li a{
	padding:5px 15px;
    color:#F0F0F0;
    display:inline-block;
    text-decoration:none;
}

/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul{
    position:absolute;
    display:none;
    background-color:#F0F0F0;
}

/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#menuwrapper ul li:hover ul{
    left:120px;
    top:0px;
    display:block;
}

/* we apply different background color to 2nd level menu items*/
#menuwrapper ul li ul li{
    background-color:#F0F0F0;
}

/* We change the background color for the level 2 submenu when hovering the menu */
#menuwrapper ul li:hover ul li:hover{
    background-color:#0069D9;
}

/* We style the color of level 2 links */
#menuwrapper ul li ul li a{
    color:#404040;
    display:inline-block;
    width:120px;
}

/* Clear float */
.clear{
    clear:both;
}